<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="DEBUG" />
    <add key="EncryptionKey" value="4gdCjU25QTPU7yzpK6Q6p5ulNsb8fncPMknWsqcX8mv4Ujc2DxZNULy477Xr/t7WNGwc0DCuvS8bt9UP0CB/sOykaSoTdYYgC6ydjqioTPJD4ECrMs9vRQEJH2Zw+aEY"/>
    <add key="SsoAuthority" value="http://localhost/SsoAd" />
    <add key="RequiredScope" value="read;write" />
    <add key="ApplicationRoot" value="http://localhost/ApiSso" />
    <add key="ClientConfigCacheMinutes" value="1" />
  </appSettings>
</configuration>
