<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets async="true">
    <target xsi:type="FallbackGroup" name="applog">
      <target xsi:type="BufferingWrapper">
        <target xsi:type="SplitGroup">
          <target xsi:type="Mail" xdt:Locator="Match(xsi:type)" xdt:Transform="SetAttributes"
                  from="PortalApiSso@mskcc.org"
                  to="zzPDL_MIS_DEVPtPortal@mskcc.org"
                  subject="PortalApiSso Error on ${machinename}" />
        </target>
      </target>
    </target>
  </targets>
</nlog>