<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--autoReload="true"
  throwExceptions="true"
  internalLogLevel="Debug"
  internalLogFile="c:\temp\nlog.txt">-->

  <targets async="true">
    <!-- Fallback Group : SplitGroup => File -->
    <target xsi:type="FallbackGroup" name="apilog" returnToFirstOnSuccess="true">
      <!-- buffered wrapper -->
      <target xsi:type="BufferingWrapper" bufferSize="1" flushTimeout="60000">
        <!-- splitgroup : database/mail -->
        <target xsi:type="SplitGroup">
          <!-- database -->
          <target xsi:type="Database" dbProvider="System.Data.SqlClient"
              connectionStringName="DefaultDb"
              commandText="INSERT INTO ApiLog ([CreatedDate],[Thread],[LogLevel],[Host],[Logger],[Message],[Exception],[EmpId],[ClientId], UserId,[Request],[Method],[Workstation],[PatId],[MRN]) VALUES (@date, @thread, @log_level, @host, @logger, @message, @exception, @empid, @clientid, @userid, @request, @method, @workstation, @PatId, @Mrn)">

            <parameter name="@date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
            <parameter name="@host" layout="${machinename}"/>
            <parameter name="@log_level" layout="${level}"/>
            <parameter name="@exception" layout="${exception:format=tostring}"/>
            <parameter name="@logger" layout="${logger}"/>
            <parameter name="@thread" layout="${threadid}"/>
            <parameter name="@message" layout="${Message}"/>
            <parameter name="@empid" layout="${event-context:item=EmpId}"/>
            <parameter name="@clientid" layout="${event-context:item=ClientId}"/>
            <parameter name="@userid" layout="${event-context:item=UserId}"/>
            <parameter name="@workstation" layout="${event-context:item=ClientIp}"/>
            <parameter name="@request" layout="${event-context:item=Request}"/>
            <parameter name="@method" layout="${event-context:item=Method}"/>
            <parameter name="@PatId" layout="${event-context:item=PatId}"/>
            <parameter name="@Mrn" layout="${event-context:item=Mrn}"/>
          </target>
          <!-- database -->
          <!-- mskmail -->
          <target xsi:type="Mail"
              smtpServer="exchange.mskcc.org"
              from="PortalApi_DEBUG@mskcc.org"
              to="zhangb@mskcc.org"
              subject ="Error on ${machinename}"
              body ="${logger} ${longdate} ${newline}ClientId:${event-context:item=ClientId} UserId:${event-context:item=UserId} IP: ${event-context:item=ClientIp} ${newline}Request: ${event-context:item=Request} Method: ${event-context:item=Method} ${newline} ${message} ${newline} ${exception:format=tostring}"
          />
          <!-- mskmail -->
        </target>
        <!-- splitgroup -->
      </target>
      <!-- buffered wrapper -->

      <!-- file -->
      <target xsi:type="File"
           layout="${logger} ${longdate} ${newline}ClientId:${event-context:item=ClientId} IP: ${event-context:item=ClientIp} ${newline}Request: ${event-context:item=Request} Method: ${event-context:item=Method} ${newline} ${message} ${newline} ${exception:format=tostring}"
           fileName="${basedir}/logs/apilog.txt"
           archiveFileName="${basedir}/logs/apilog.{#}.txt"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="7"
           concurrentWrites="true"
           keepFileOpen="false"
           encoding="iso-8859-2"
      />
      <!-- file -->
    </target>
    <!-- apilog -->
  </targets>
  <!-- Fallback Group -->

  <rules>
    <logger name="*" minlevel="Error" writeTo="apilog" />
  </rules>
</nlog>
