<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Data Source=VSMSKQSQLPORTAL,50669;Initial Catalog=PortalTEST;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="Environment" value="TEST"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SsoAuthority" value="https://portal.mskcc.org/TEST/SsoAd"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationRoot" value="https://portal.mskcc.org/TEST/PortalApi"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientConfigCacheMinutes" value="1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="PortalApi_TEST@mskcc.org" xdt:Transform="Replace">
        <network host="mskrelay.mskcc.org" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>