<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultDb"
         connectionString="Data Source=SMSKPSQLPORTAL,53681;Initial Catalog=PortalProd;Integrated Security=True"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="Environment" value="PROD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SsoAuthority" value="https://portal.mskcc.org/SsoAd"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationRoot" value="https://portal.mskcc.org/PortalApi"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientConfigCacheMinutes" value="15"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="PortalApi@mskcc.org" xdt:Transform="Replace">
        <network host="mskrelay.mskcc.org" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>